.header{
    height: 30rem;
    border: 0.2rem solid yellow;
    display: flex;
    align-items: center;
    /* padding: 0px 30px; */
}
.logo{
    border: 0.2rem solid red;
    margin-left: 3rem;
    width: 20rem;
    height: 20rem;
}